@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@font-face {
  font-family: "Tesla";
  src: url("../../assets/fonts/TESLA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.screen {
  background-color: black;
  width: 100%;
  height: 100vh;
  /* overflow-x: scroll; */
}

.screen header {
  background-image: url("../../assets/imgs/header.png");
  background-size: cover; /* faz a imagem cobrir toda a área */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat; /* evita que a imagem se repita */
  width: 100%;
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: "Tesla";
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: 400;
}

.screen main {
  /* background-color: red; */
  width: 100%;
  height: 84vh;
  display: flex;
}

.screen main div {
  height: 100%;
  border: 5px solid black;
}

.screen .container-one {
  width: 30%;
}

.screen .container-two {
  width: 30%;
}

.lowis {
  width: 40%;
  height: 100%;
}

.lowis img {
  width: 100%;
}
