@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

.screen-projects {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
}

.main-projects {
  background-color: #f9f6ee;
  display: flex;
  width: 98%;
  height: 95%;
  margin: auto;
  border-radius: 30px;
  overflow: hidden;
}

/* --------------------------------------- */

.one-section-projects {
  /* background-color: red; */
  background-image: url("../assets/imgs/prjGDM1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 30px 0 0 30px;

  /* font-family: "Roboto Condensed"; */
  /* font-size: 36px; */
}

.one-section-projects p {
  margin-top: 14px;
  margin-left: 25px;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 300;
}

.one-section-projects div {
  /* background-color: rgba(255, 0, 0, 0.31);  */
  position: relative;
  width: 50%;
  padding-bottom: 15px;
}

.one-section-projects div h1 {
  /* background-color: green; */
  font-family: "Montserrat", sans-serif;
  font-size: 63px;
  font-weight: 300;
  line-height: 70px;
  margin-left: 15px;
}

.one-section-projects div span {
  font-weight: 700;
}

.one-section-projects div button {
  background-color: black;
  position: absolute;
  bottom: 25px;
  right: 25px;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;

  border-radius: 20px;
  border: none;

  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
}

.two-section-projects {
  /* background-color: blue; */
  width: 25%;
  padding-right: 15px;
  border-radius: 0 30px 30px 0;
}

.header-projects {
  /* background-color: green; */
  width: 100%;
  height: 40px;
  margin-top: 15px;
  display: flex;
}

.header-projects-contact {
  /* background-color: red; */
  width: 60%;
  display: flex;
  border: 3px solid black;
  border-radius: 100px;
}

.icon-header-projects {
  /* background-color: blue; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 3px solid black;
}

.text-header-projects {
  /* background-color: blue; */
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;

  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 700;
}

.text-header-projects img {
  height: 100%;
  border-radius: 50%;
}

.menu-header-projects {
  background-color: black;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  border-radius: 100px;
  cursor: pointer;
}

.line {
  background-color: white;
  width: 50%;
  height: 2px;
}

/* -------------------------------------------------------- */

.card-products-projects {
  background-color: #ffe6e4;
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 35px;
  padding: 10px;

  font-family: "Montserrat", sans-serif;
}

.card-products-projects h2 {
  font-size: 30px;
}

.card-products-projects p {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
}

.card-products-projects img {
  width: 340px;
  height: 180px;
  border-radius: 25px;
  margin-top: 10px !important;
  margin: 0 auto;
}

.card-products-projects-points {
  /* background-color: green; */
  position: absolute;
  left: 130px;
  bottom: 25px;
  display: flex;
  gap: 5px;
  width: 100px;
  height: 7px;
}

.point {
  background-color: rgba(255, 255, 255, 0.475);
  width: 30%;
  height: 7px;
  border-radius: 30px;
}

.point-checked {
  background-color: white;
  width: 70%;
}

.card-products-projects-button {
  background-color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

/* ----------------------------------------------------------------- */

.two-card-products-projects {
  background-image: url("../assets/imgs/robot1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  /* width: 360px; */
  height: 245px;
  display: flex;
  margin-top: 15px;
  border-radius: 35px;
}

.two-card-products-projects-button {
  background-color: black;
  position: absolute;
  bottom: 11px;
  right: 12px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

/* ---------------------------------------------------------------------------- */

.two-card-legend {
  background-color: rgba(255, 255, 255, 0.207);
  backdrop-filter: blur(5px); /* Aplica o blur */
  -webkit-backdrop-filter: blur(5px); /* Suporte para Safari */
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 5px;
  margin-left: 15px;

  border-radius: 20px;

  font-family: "Montserrat", sans-serif;
  color: white;
}
